<div class="albums">

    <h1 class="title">Albums


        <span>
            &nbsp;<a class="link-create" href="/albums/create"><i class="fas fa-plus"></i></a>
        </span>
    </h1>



    <table class="table">

        <thead>
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Label</th>
                <th>Artist</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each albums}}
            <tr>

                <td>
                    {{this.title}}
                </td>
                <td>
                    {{formatDate  this.releaseDate}}
                </td>
                <td>
                    {{this.label.name}}
                </td>
                <td>
                    {{this.artist.name}}
                </td>
                <td>
                    <a href="/albums/{{this._id}}/edit">
                        <i class="far fa-edit"></i></a>
                </td>
                <td>
                    <a href="/albums/{{this._id}}/delete">
                        <i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {{/each}}

        </tbody>

    </table>
</div>