<form class="form" action="/albums/{{album._id}}/edit" method="POST">
    <h2>Edit form</h2>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{album.title}}">

    <label for="release-data">Release Date</label>
    <input type="date" name="releaseDate" id="release-data"
        value={{#formatDateInput album.releaseDate }}{{/formatDateInput}}>

    <label for="artist">Artists</label>
    <select name="artist" id="artist">
        {{#each artists}}
        {{#isSameId  this._id ../album.artist }}
        <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/isSameId}}

        {{/each}}
    </select>

    <label for="label">Labels</label>
    <select name="label" id="label">
        {{#each labels}}
        {{#isSameId this._id ../album.label}}
        <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/isSameId}}

        {{/each}}
    </select>

    <button class="btn">Edit album</button>

</form>