<form class="form" action="/labels/{{label._id}}/edit" method="POST">
    <h1>Edit a label</h1>
    <label for="name">Name</label>
    <input class="input" type="text" id="name" name="name" value="{{label.name}}">

    <label for="country">Country</label>
    <input class="input" type="text" id="country" name="country" value="{{label.country}}">

    <label for="city">City</label>
    <input class="input" type="text" id="city" name="city" value="{{label.city}}">

    <label for="logo">Logo</label>
    <input class="input" type="text" id="logo" name="logo" value="{{label.logo}}">
    <button class="btn">Edit</button>
</form>